@{
    ViewData["Title"] = "Bem-vindo";
}

<h1>Bem-vindo à Calculadora de Salário Líquido</h1>

<p>Use nossa calculadora para descobrir seu salário líquido.</p>

<button onclick="location.href='https://localhost:7189/Salary/Index'">Ir para Calculadora</button>


    